.body {
    text-align:center;
    padding-top:5vw;
    padding-bottom:10vw;
    padding-left:10vw;
    padding-right:10vw;
  }

.intro {
    text-decoration: none;
    font-family: Raleway;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    text-align:center;
    height:40vh;
    padding-left:15vw;
    padding-right:15vw;
    font-size:26px;
}

.profilepic
{
  border-radius: 50%;
  width: 150px;
  margin: 20px;
}

.portfolio {
    margin-top:8vw;
    font-family: Mohave;
    font-weight: 900;
    font-style: bold;
    font-size: 24px;
    letter-spacing: .075em;
    line-height: 1.4em;
    text-transform: uppercase;
}

.portfolio-list{
    margin-top:5vw;
    padding-left:10vw;
    padding-right:10vw;
}