.body {
    text-align: center;
    font-family: Raleway;
}

.main-img{
    width:45vw;
}

.details-title{
    font-size:14px;
    font-weight:600;
}

.content{
    margin-top:5vh;
    font-size:16px;
}

.content-title{
    font-size:20px;
    font-weight:600;
}

@media only screen and (max-width: 600px) {
    .details-title{
        font-size:10px;
    }
    
    .content{
        margin-top:2vh;
        font-size:12px;
    }
    
    .content-title{
        font-size:14px;
        font-weight:600;
    }
}